*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: sans-serif;
}

h1{
font-size: 46px;
text-align: center;
padding: 24px;
padding: 10px 0;
color: black;
justify-content: center;
font-style: italic;
}

form {
padding: 8px;
display: flex;
justify-content: center;
text-align: center;
background-color: rgb(255, 255, 255);
padding: 24px 0;
}

input{
padding: 8px;
margin: 8px;
text-align: center;
}

button {
padding: 8px;
margin: 8px;
text-align: center;
background-color: green;
color: white;
justify-content: center;
}

ul {
display: flex;
justify-content: center;
}

ul li {
padding: 8px;
font-size: 24px;
font-weight: bolder;
text-decoration: line-through;
text-align: center;
}