* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

header {
    padding: 10px 0;
    color: black;
    justify-content: center;
    font-style: italic;
}

header button {
    margin-left: 1px;
}

form {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 24px 0;
}

input, button {
    padding: 8px;
}

button {
    border: none;
    background-color: green;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

form h1 {
    margin-bottom: 16px;
}

ul li{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: line-through;
}

.checked {
    text-decoration: line-through;
}

